<div class="container">

    <!-- header: page title and navigation image-->
    <div class="row">
        <div class="col-sm-6 text-center">
            <h4 class="text-nowrap">Automated Warehouse Management System</h4>

        </div>


        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="item in items">
                        <a ng-click="selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                Selected: <b>{{ selected.item }}</b>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>

        <!-- Navigation image -->
        <div class="col-sm-6 ">
            <div class="row">
                <div class="col-sm-2">
                    <img ui-sref="scan"
                         ng-click="goToScan"
                         ng-src="img/scan.png"
                            style="width: 80px; height: 80px; padding-top: 10px"
                            />
                </div>
                <div class="col-sm-2 col-sm-offset-1">
                    <img ui-sref="truck"
                         ng-click="goToTruck"
                         ng-src="img/truck.png"
                         style="width: 100px; height: 100px"
                            />
                </div>
            </div>
        </div>

    </div>

    <!-- Main body -->
    <div class="row">

        <!-- Left side -->
        <div class="col-sm-6">
            <!-- Truck Alert -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="span7 text-center">
                        <h4 class="text-center">Truck Alert</h4>
                        <!--<textarea class="text-center" cols="40" rows="2" ></textarea>-->

                        <pre id="alarm" class="text-danger text-uppercase" style="background-color: #FFFFFF; font-size: 20px;
                         height: 50px"  >           </pre>
                        <br/>
                        <button class="btn btn-success mce-btn-large" ng-click="open()">Dispatch Truck</button>
                    </div>
                </div>
            </div>
            <!-- Result of scanning one item -->
            <div class="row">
                <div class="col-sm-12">
                        <div class="span7 text-center">
                            <h1 id="resultScan" class="text-danger text-uppercase" style="margin-top: 80px"></h1>
                        </div>
                </div>
            </div>

        </div>


        <div class="col-sm-6 " style="padding-top: 20px">

            <!-- Total score -->
            <div class="row">
                <div class="col-sm-3">
                    <h4>Total Score:</h4>
                </div>
                <div class="col-sm-2">
                   <pre id="score"  style="background-color: #FFFFFF "  >       </pre>
                </div>
            </div>

            <!-- Display image -->
            <div class="row" style="padding-top: 20px">
                <div class="col-sm-12 ">
                    <div class="row" style="background-color: #0a000a ">
                        <!-- Display the correct image -->
                        <div class="col-sm-6" style="  height: 500px; padding: 10px 10px 5px">
                            <div class="row" id="movingRow" style="position: relative">
                                <img src="img/easy/item1.png"  style="width: 22%; float: left; margin-left: 15px; " id="movingImage1">
                                <img src="img/easy/item2.png"  style="width: 22%; float: left; " id="movingImage2">
                                <img src="img/easy/item3.png"  style="width: 22%; float: left; " id="movingImage3">
                                <img src="img/easy/item4.png"  style="width: 22%; float: left; " id="movingImage4">
                            </div>
                        </div>
                        <!-- Display the 3 wrong images + 1 correct image-->
                        <div class="col-sm-6" style=" height: 500px; padding: 10px 10px" >
                            <div style="background-color: #ffffff; height: 100%;  padding: 10px 10px">

                                <div class="row" id="row1" style="margin-left: 10px ; margin-top: 20px">
                                    <img src="img/easy/item1.png" id="image11" style="width: 22%; float: left">
                                    <img src="img/easy/item2.png" id="image12" style="width: 22%; float: left">
                                    <img src="img/easy/item3.png" id="image13" style="width: 22%; float: left">
                                    <img src="img/easy/item4.png" id="image14" style="width: 22%; float: left">
                                </div>

                                <div class="row"  id="row2" style="margin-left: 10px ; margin-top: 20px">
                                <img src="img/easy/item1.png" id="image21" style="width: 22%; float: left">
                                    <img src="img/easy/item2.png" id="image22" style="width: 22%; float: left">
                                    <img src="img/easy/item3.png" id="image23" style="width: 22%; float: left">
                                    <img src="img/easy/item4.png" id="image24" style="width: 22%; float: left">
                                </div>

                                <div class="row" id="row3"  style="margin-left: 10px ; margin-top: 20px">
                                <img src="img/easy/item1.png" id="image31" style="width: 22%; float: left">
                                    <img src="img/easy/item2.png" id="image32" style="width: 22%; float: left">
                                    <img src="img/easy/item3.png" id="image33" style="width: 22%; float: left">
                                    <img src="img/easy/item4.png" id="image34" style="width: 22%; float: left">
                                </div>

                                <div class="row" id="row4" style="margin-left: 10px ; margin-top: 20px">
                                    <img src="img/easy/item1.png" id="image41" style="width: 22%; float: left">
                                    <img src="img/easy/item2.png" id="image42" style="width: 22%; float: left">
                                    <img src="img/easy/item3.png" id="image43" style="width: 22%; float: left">
                                    <img src="img/easy/item4.png" id="image44" style="width: 22%; float: left">
                                </div>

                                <div class="span7 text-center">
                                    <button class="btn btn-lg btn-success" ng-click="cancel()">Cancel</button>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>


        </div>
    </div>

</div>


