<div class="container">
    <!-- Header -->
    <div class="row">
        <div class="col-sm-6 text-center">
            <h4 class="text-nowrap">Automated Warehouse Management System</h4>
        </div>
        <div class="col-sm-6 ">
            <div class="row">
                <div class="col-sm-2">
                    <img ui-sref="scan"
                         ng-click="goToScan"
                         ng-src="img/scan.png"
                         style="width: 80px; height: 80px; padding-top: 10px"
                            />
                </div>
                <div class="col-sm-2 col-sm-offset-1">
                    <img ui-sref="truck"
                         ng-click="goToTruck"
                         ng-src="img/truck.png"
                         style="width: 100px; height: 100px"
                            />
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 30px">
        <div class="col-sm-6 col-sm-offset-6">

            <!-- Truck Animation -->
            <div class="row">
                <div class="col-sm-6">
                    <table class="table table-bordered" id="truck" >
                        <tbody>

                            <tr id = "5" style="height: 0; background-color: #fce3ac">
                                <td>100%</td>
                            </tr>

                            <tr id = "4" style="height: 0; background-color: #fce3ac">
                                <td>80%</td>
                            </tr>

                            <tr id = "3" style="height: 0; background-color: #fce3ac">
                                <td>60%</td>
                            </tr>

                            <tr id = "2" style="height: 0; background-color: #fce3ac">
                                <td>40%</td>
                            </tr>

                            <tr  id = "1" style="height: 0; background-color: #fce3ac">
                                <td>20%</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <!-- 2 wheels -->
            <div class="row"  style="margin-top: -20px; left: -300px ; position: relative">
                <div class="col-sm-1 col-sm-offset-1">
                    <img src="img/wheel.png">
                </div>
                <div class="col-sm-1 col-sm-offset-2">
                    <img src="img/wheel.png">
                </div>
            </div>

            <br/>

            <!-- Dispatch button-->
            <button class="btn btn-success mce-btn-large"
                        style="margin-left: 45px; margin-top: 10px" ng-click="open()"
                    >Dispatch Truck</button>
        </div>
    </div>

</div>